body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(80, 80, 80);
    color: rgb(0, 0, 0);
}

button {
    margin: 10px;
}

#chartContainer{
    display: flex;
    justify-content: center;
}

canvas{
    color: white !important;
    width: 600px !important;
    height: 600px !important;
    background-color: aliceblue;
}

#test {
    background-color: white;
    width: 500px;
}

#bodyDiv,
#bodyDivQuestions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 175, 55);
    padding: 20px;
    height: 200px;
}

#bodyDivResults{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 175, 55);
    padding: 20px;
    height: 50px;
}

.botonesIndex{
    color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 153, 0);
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: large;
}

#comienzoDiv {
    color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: large;
}

.botonesIndex:hover{
    border-style: solid;
}


#returnHome {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15px;
    left: 15px;
    width: 150px;
    height: 30px;
    background-color: rgb(255, 208, 137);
    border-radius: 5px;
}

#fetchDivId{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 145px;
    left: 15px;
    width: 150px;
    height: 30px;
    background-color: rgb(255, 94, 0);
    border-radius: 5px;
}

#score{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    color: rgb(255, 94, 0);
    background-color: rgb(255, 208, 137);
    border-radius: 5px;
    font-size: 50px;
}

#score p{
    margin: 10px;
}

#returnHome:hover, #fetchDivId:hover{
    border-style: solid;
}

a {
    text-decoration: none;
    margin: 10px;
}

#buttonsDivId p {
    position: fixed;
    right: 5%;
    top: 12%;
}

#buttonsDivId {
    display: flex;
    flex-direction: column;
}

#mainDiv {
    display: flex;
    justify-content: center;
}

#divShowQuestions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    color: white;
}

h2 {
    text-decoration: underline;
    position: absolute;
    top: 5px;
}

.hidden {
    display: none;
    visibility: hidden;
}

div{
    margin: 5px;
}

.questionshown{
    display: flex;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    color:rgb(255, 94, 0);
}

.shown{
    display: flex;
    text-align: center;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(255, 94, 0);
    height: 50px;
}

.shown:hover{
    border-style: solid;
}

.wrong{
    display: flex;
    text-align: center;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: red;
    height: 50px;
}

.correct{
    display: flex;
    text-align: center;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(0, 255, 191);
    height: 50px;
}

.stopClick {
    pointer-events: none;
}